{% extends "fuzzy/base.html" %}


{% block title %}
    <title>{{ membership_function }} Membership Estimator</title>
{% endblock title %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags}}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h1 class="h1_body">Perform a New {{ membership_function }} Membership Test</h1>
    {% include "fuzzy/"|add:membership_function|lower|add:".html" %}
    {% include "fuzzy/tests_list.html" %}
{% endblock content %}