<form class="form_body" action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="new_entries">
    
    <table>
        <tr>
            <th>Test Value (x)</th>
            <th>Mean(mu)</th>
            <th>Standard Deviation (sigma)</th>
        </tr>
        {% for i in new_entry_count %}
        <tr>
            <td><input type="text" name="entries[{{ i }}][x]" id="x_{{ i }}"></td>
            <td><input type="text" name="entries[{{ i }}][mu]" id="mu_{{ i }}"></td>
            <td><input type="text" name="entries[{{ i }}][sigma]" id="sigma_{{ i }}"></td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">Submit</button>
</form>