{% load static %}

<header class="header">
    <nav>
        <ul>
            <li><a href="{% url 'fuzzy:home' %}">Home</a></li>
            <li><a href="{% url 'fuzzy:fuzzy_triangular' %}">Triangular Membership Estimator</a></li>
            <li><a href="{% url 'fuzzy:fuzzy_trapezoidal' %}">Trapezoidal Membership Estimator</a></li>
            <li><a href="{% url 'fuzzy:fuzzy_gaussian' %}">Gaussian Membership Estimator</a></li>
            <li><a href="{% url 'fuzzy:fuzzy_crisp' %}">Fuzzy and Crisp Set Estimator</a></li>
            <li><a href="{% url 'fuzzy:delete_test' %}">Delete Test</a></li>
        </ul>
    </nav>
</header>
