{% comment %}
    Not needed anymore, but kept for reference.
    This table is now created dynamically using JS.
{% endcomment %}

<form  class="form_body" action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="new_entries">
    
    <table>
        <tr>
            <th>Test Value (x)</th>
            <th>Left Foot (a)</th>
            <th>Left Shoulder (b)</th>
            <th>Right Shoulder (c)</th>
            <th>Right Foot (d)</th>
        </tr>
        {% for i in new_entry_count %}
        <tr>
            <td><input type="text" name="entries[{{ i }}][x]" id="x_{{ i }}"></td>
            <td><input type="text" name="entries[{{ i }}][a]" id="a_{{ i }}"></td>
            <td><input type="text" name="entries[{{ i }}][b]" id="b_{{ i }}"></td>
            <td><input type="text" name="entries[{{ i }}][c]" id="c_{{ i }}"></td>
            <td><input type="text" name="entries[{{ i }}][d]" id="d_{{ i }}"></td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">Submit</button>
</form>